*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  box-sizing: border-box;
  color: #16133e; }
  @media (min-width: 1440px) {
    body {
      font-size: 1.6rem; } }

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-bottom: 1rem; }
  @media (min-width: 768px) {
    h1 {
      line-height: 5rem;
      font-size: 3.5rem; } }
  @media (min-width: 1024px) {
    h1 {
      line-height: 6.8rem;
      font-size: 4.5rem; } }
  @media (min-width: 1440px) {
    h1 {
      line-height: 6.8rem;
      font-size: 5.6rem;
      padding-bottom: 2.5rem; } }

a {
  text-decoration: none;
  color: #000000; }

p {
  color: #183b56;
  line-height: 2.6rem;
  text-align: initial; }
  @media (min-width: 768px) {
    p {
      font-size: 1.8rem;
      line-height: 3rem; } }
  @media (min-width: 1024px) {
    p {
      line-height: 3.6rem; } }

li {
  list-style: none; }

.container {
  margin: 0 2rem; }
  @media (min-width: 768px) {
    .container {
      margin: 0 5rem; } }
  @media (min-width: 1024px) {
    .container {
      margin: 0 12rem; } }

@media (min-width: 768px) {
  .gamburger {
    display: none; } }

.gamburger__item {
  border-bottom: 2px solid #16133e;
  width: 20px;
  display: block;
  height: 7px; }

.active {
  font-family: "Helvetica", sans-serif; }

.center {
  text-align: center; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #efeef3;
  align-items: center;
  letter-spacing: normal;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  @media (min-width: 768px) {
    .header {
      padding: 3rem 0; } }
  @media (min-width: 1024px) {
    .header {
      padding: 3rem 0; } }
  .header__buttons-wrapper {
    min-width: 130px;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .header__buttons-wrapper {
        min-width: 170px; } }
    @media (min-width: 1024px) {
      .header__buttons-wrapper {
        min-width: 246px; } }

.navbar {
  display: none; }
  @media (min-width: 768px) {
    .navbar {
      display: block; } }
  .navbar__nav {
    display: flex;
    margin-left: 3rem; }
  .navbar__nav-item:not(:last-child) {
    margin-right: 2rem; }
    @media (min-width: 1024px) {
      .navbar__nav-item:not(:last-child) {
        margin-right: 4rem; } }

.button {
  border: solid 2px #16133e;
  border-radius: 8px;
  padding: 0.5rem 0.7rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit; }
  @media (min-width: 768px) {
    .button {
      padding: 1rem 1.9rem; } }
  @media (min-width: 1024px) {
    .button {
      padding: 1.5rem 3.5rem; } }
  @media (min-width: 1440px) {
    .button {
      font-size: 1.6rem;
      line-height: 16px; } }
  .button-white {
    background-color: #ffffff;
    color: #000000; }
  .button-primary {
    background-color: #16133e;
    color: #ffffff; }
  .button-blue {
    background-color: #007ffc;
    color: #ffffff;
    border: #007ffc; }
  .button-borderBlue {
    background-color: #ffffff;
    color: #007ffc;
    border: 1px solid #007ffc; }

.brand {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 3rem; }
  @media (min-width: 768px) {
    .brand {
      flex-direction: row;
      padding-top: 5rem;
      padding-bottom: 7rem; } }
  .brand__image-wrapper {
    max-width: 580px;
    max-height: 420px;
    margin: 0 auto; }
  .brand__image-wrapper, .brand__content {
    width: 100%; }
    @media (min-width: 768px) {
      .brand__image-wrapper, .brand__content {
        width: 50%; } }
  @media (min-width: 768px) {
    .brand__content {
      padding-right: 2rem; } }
  @media (min-width: 768px) {
    .brand__content {
      padding-right: 4rem; } }
  @media (min-width: 1440px) {
    .brand__content {
      padding-right: 8rem; } }
  .brand img {
    width: 100%;
    height: 100%; }
  .brand__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    padding: 3rem 0; }
    @media (min-width: 768px) {
      .brand__buttons {
        max-width: 250px; } }
    @media (min-width: 1024px) {
      .brand__buttons {
        max-width: 346px; } }
    @media (min-width: 1440px) {
      .brand__buttons {
        padding-top: 3.6rem; } }

.services {
  display: flex;
  flex-direction: column;
  padding: 2rem 0; }
  @media (min-width: 768px) {
    .services {
      padding: 4rem 0; } }
  @media (min-width: 1024px) {
    .services {
      padding: 6rem 0; } }
  @media (min-width: 1440px) {
    .services {
      padding: 10rem 0; } }
  .services__heading {
    line-height: 40px;
    padding: 0.5rem 0;
    font-size: 2.4rem;
    font-family: "Nunito Sans", sans-serif; }
    @media (min-width: 768px) {
      .services__heading {
        font-size: 3rem; } }
    @media (min-width: 1440px) {
      .services__heading {
        line-height: 52px;
        padding: 1.8rem 0 1.5rem;
        font-size: 4rem; } }
  .services__block {
    padding-top: 2rem; }
    @media (min-width: 768px) {
      .services__block {
        padding-top: 4rem; } }
    @media (min-width: 1440px) {
      .services__block {
        padding-top: 6.4rem; } }
  .services__items {
    justify-content: space-between; }
    @media (min-width: 768px) {
      .services__items {
        display: flex;
        flex-direction: row;
        padding-top: 4rem; } }
    @media (min-width: 1440px) {
      .services__items {
        padding-top: 6.4rem; } }
  .services__content {
    width: 100%; }
  .services__pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .services__pictures {
        flex-direction: row; } }
    .services__pictures-readers {
      width: 100%;
      margin: 0 auto;
      max-width: 55.2rem;
      max-height: 50.2rem;
      position: relative; }
      @media (min-width: 768px) {
        .services__pictures-readers {
          width: 46%; } }
    .services__pictures-text {
      position: absolute;
      bottom: 45px;
      color: #ffffff;
      padding: 0 2rem;
      font-weight: 400;
      line-height: 3rem; }
      @media (min-width: 768px) {
        .services__pictures-text {
          font-size: 2.4rem;
          line-height: 3.5rem; } }
      @media (min-width: 1440px) {
        .services__pictures-text {
          padding: 0 4.8rem;
          font-size: 3.6rem;
          line-height: 4.8rem; } }
  .services__img {
    width: 100%;
    padding: 1rem 0; }
  .services__card {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 362px;
    max-height: 348px; }
    @media (min-width: 768px) {
      .services__card {
        width: 32%;
        margin: 0; } }
  .services__title {
    color: #87a1b6; }
    @media (min-width: 768px) {
      .services__title {
        font-size: 1.6rem; } }
  .services__plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .services__plan {
        flex-direction: row; } }
    .services__plan-text {
      color: #87a1b6;
      padding: 2rem 0; }
      @media (min-width: 1440px) {
        .services__plan-text {
          padding-bottom: 5.5rem; } }
    .services__plan-heading {
      font-size: 19px;
      line-height: 25px;
      font-weight: 400;
      padding: 1rem 0; }
      @media (min-width: 1440px) {
        .services__plan-heading {
          font-size: 2.4rem;
          line-height: 32px;
          padding-bottom: 3rem; } }
    .services__plan-item {
      border-radius: 0 0px 8px 8px;
      box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.03);
      padding: 3rem;
      max-width: 362px;
      max-height: 436px;
      margin: 0 auto;
      margin-bottom: 2rem; }
      @media (min-width: 768px) {
        .services__plan-item {
          width: 31%;
          margin: 0; } }
      @media (min-width: 1440px) {
        .services__plan-item {
          padding: 5rem 0 5.5rem; } }
      .services__plan-item--blue, .services__plan-item--green, .services__plan-item--red {
        display: block;
        font-size: 2.5rem; }
        @media (min-width: 768px) {
          .services__plan-item--blue, .services__plan-item--green, .services__plan-item--red {
            font-size: 3rem; } }
        @media (min-width: 1440px) {
          .services__plan-item--blue, .services__plan-item--green, .services__plan-item--red {
            font-size: 4rem;
            line-height: 52px; } }
      .services__plan-item--blue {
        color: #0593fa; }
      .services__plan-item--green {
        color: #56cbae; }
      .services__plan-item--red {
        color: #fa6770; }
  .services .blue-border {
    border-top: 4px solid #0593fa; }
  .services .green-border {
    border-top: 4px solid #56cbae; }
  .services .red-border {
    border-top: 4px solid #fa6770; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  padding: 1rem 2rem; }
  @media (min-width: 768px) {
    .card {
      align-items: flex-start; } }
  @media (min-width: 1024px) {
    .card {
      padding: 2rem 3rem; } }
  @media (min-width: 1440px) {
    .card {
      padding: 2rem 4.2rem; } }
  .card__img {
    padding: 1.1rem;
    width: 62px;
    height: 66px;
    border: solid 1px #e8f0fb;
    border-radius: 16px; }
  .card__heading {
    line-height: 40px; }
    @media (min-width: 1024px) {
      .card__heading {
        line-height: 52px; } }
  .card__link {
    line-height: 20px; }
    @media (min-width: 1440px) {
      .card__link {
        line-height: 52px; } }

.logo {
  display: flex;
  align-items: center; }
  .logo__name {
    padding-left: 1rem;
    font-size: 2rem;
    color: #16133d;
    font-family: "Nunito Sans", sans-serif; }
    @media (min-width: 768px) {
      .logo__name {
        font-size: 2.5rem; } }
    @media (min-width: 1024px) {
      .logo__name {
        font-size: 3rem; } }

.footer {
  color: #ffffff;
  background-color: #16143d;
  padding: 2rem 0; }
  .footer p, .footer__logo {
    color: #ffffff; }
  .footer p {
    padding: 1.5rem 0; }
  .footer__icon {
    background-color: #efeef3;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 1rem; }
  .footer__icon-link {
    width: 38px;
    height: 38px;
    display: inline-block; }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 4rem; }
  .footer__wrapper {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .footer__wrapper {
        flex-direction: row; } }
  .footer__navbar {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .footer__navbar {
        flex-direction: row; } }
  .footer__contact {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .footer__contact {
        flex-direction: row; } }
    .footer__contact-gdpr {
      width: 106px;
      height: 41px;
      margin: 3rem 0 1rem; }
    .footer__contact-trustpilot {
      width: 100px;
      height: 25px; }
    .footer__contact-img {
      width: 100%; }
  .footer__nav {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1024px) {
      .footer__nav {
        flex-direction: row; } }
    .footer__nav-heading {
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 22px; }
    .footer__nav-link {
      padding: 2rem 0; }
      .footer__nav-link a {
        color: #ffffff;
        font-size: 1rem;
        letter-spacing: 1.76px;
        line-height: 22px; }
  .footer__copy {
    padding: 5rem 0 3rem; }
