*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  font-family: $font-primary;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  box-sizing: border-box;
  color: $primary;
  @media (min-width: 1440px) {
    font-size: 1.6rem;
  }
}

h1 {
  font-family: $font-secondary;
  font-size: 3.5rem;
  line-height: 40px;
  padding-bottom: 1rem;
  font-weight: 600;
  @media (min-width: 768px) {
    line-height: 50px;
  }
  @media (min-width: 1024px) {
    line-height: 58px;
    font-size: 4rem;
  }
  @media (min-width: 1440px) {
    line-height: 68px;
    font-size: 5.6rem;
    padding-bottom: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: $black;
}

p {
  color: $dark-blue;
  line-height: 26px;
  text-align: initial;
  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 30px;
  }
  @media (min-width: 1024px) {
    line-height: 36px;
  }
}

li {
  list-style: none;
}

.container {
  margin: 0 2rem;
  @media (min-width: 768px) {
    margin: 0 5rem;
  }
  @media (min-width: 1024px) {
    margin: 0 14.4rem;
  }
}

.gamburger {
  @media (min-width: 768px) {
    display: none;
  }
  &__item {
    border-bottom: 2px solid $primary;
    width: 20px;
    display: block;
    height: 7px;
  }
}

.active {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}

.center {
  text-align: center;
}
