// Color variables
$color-primary: #16133e;
$color-secondary: #5a7184;
$black: #000;
$white: #fff;
$dark-blue: #183b56;
$light-grey: #87a1b6;
$blue: #007ffc;
$light-blue: #0593fa;
$green: #56cbae;
$red: #fa6770;
$grey: #efeef3;
$logoName: #16133d;
$borderColor: #e5eaf4;
$cardImgBorderColor: #e8f0fb;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$font-tertiary: "Helvetica", sans-serif;
